APP_NAME=SampahRey
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://YOUR_PUBLIC_IP_OR_DOMAIN

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=YOUR_RDS_ENDPOINT
DB_PORT=3306
DB_DATABASE=sampahrey
DB_USERNAME=admin
DB_PASSWORD=YOUR_RDS_PASSWORD

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

FILESYSTEM_DISK=s3
REPORT_UPLOAD_DISK=s3

AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET
AWS_DEFAULT_REGION=ap-southeast-1
AWS_BUCKET=YOUR_S3_BUCKET
AWS_USE_PATH_STYLE_ENDPOINT=false
